@using AuthAuthDemo.Web.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>Register A User Here</h2>
<div>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "register_form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.LabelFor(Login => Login.FirstName)
        @Html.TextBoxFor(Login => Login.FirstName, new { @class = "form-control" })
        <br />
        @Html.LabelFor(Login => Login.LastName)
        @Html.TextBoxFor(Login => Login.LastName, new { @class = "form-control" })
        <br />
        @Html.LabelFor(Login => Login.Email)
        @Html.TextBoxFor(Login => Login.Email, new { @class = "form-control" })
        <br />
        @Html.LabelFor(Login => Login.Password)
        @Html.PasswordFor(Login => Login.Password, new { @class = "form-control" })
        <br />
        <button id="submit" class="btn btn-primary">Create</button>
    }
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Bundle/Scripts/register")
}